@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bellefair', serif;
    text-decoration: none;
    list-style: none;
}
/* This is header  */
body{
    background-image: url(image/Bitmap.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 50px 5%;
}
.devider{
    width: 15%;
}
.navmenu{
    height: 70px;
    width: 60%;
    background: rgba(0, 0, 1, .3);
}
.navmenu ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.navmenu a{
    margin: 0 40px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}
.navmenu a:hover{
    padding-bottom: 20px;
    border-bottom: solid #fff 2px;
}
/* This is header  end */

/* hero section  */
.hero{
    text-align: center;
    margin-top: 300px;
    color: #fff;
    display: flex;
    justify-content: space-around;
}
.content{
    width: 450px;
    height: 382px;
    text-align: start;
}
.content h5{
    
    font-size: 28px;
    font-weight: 400;
    color: #D0D6F9;
}
.content h1{
    font-size: 150px;
    font-weight: 600;
    color: #ffffff;
}
.content p{
    font-size: 18px;
    font-weight: 400;
    color: #D0D6F9;
    line-height: 32px;
}
.explore{
    width: 274px;
    height: 274px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
}
.explore a{
    font-size: 32px;
    color: #000;
    letter-spacing: 2px;
    line-height: 1px;
    position: relative;
    top: 137px;
}